Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight dataframeâ€™s specific columns with different colors.

In [5]:
import pandas as pd
import numpy as np

In [6]:
random_data = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'])

def highlight_columns(s):
    if s.name == 'A':
        return ['background-color: blue'] * len(s)
    elif s.name == 'B':
        return ['background-color: green'] * len(s)
    elif s.name == 'C':
        return ['background-color: red'] * len(s)
    else:
        return [''] * len(s)

styled_df_columns = random_data.style.apply(highlight_columns, axis=0)

styled_df_columns