Create a dataframe of ten rows, four columns with random values. Convert some values to nan values. Write a Pandas program which will highlight the nan values.

In [18]:
import pandas as pd
import numpy as np

In [19]:
random_data = np.random.randint(1, 100, size=(11, 4))
df = pd.DataFrame(random_data, columns=['A', 'B', 'C', 'D'])
nan_indexes = [(3, 1), (6, 2), (8, 0)]

for x, y in nan_indexes:
    df.iat[x, y] = np.nan

def highlight_nan(set):
    return ['background-color: red' if pd.isna(vector) else '' for vector in set]

styled_df = df.style.apply(highlight_nan)
styled_df