Write a Pandas program to select consecutive columns and also select rows with Index label 0 to 9 with some columns from world alcohol consumption dataset.

In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('world_alcohol - world_alcohol.csv')

In [25]:
consecutive_cols = df.iloc[:10,:4]
consecutive_cols

   Year       WHO region                Country Beverage Types
0  1986  Western Pacific               Viet Nam           Wine
1  1986         Americas                Uruguay          Other
2  1985           Africa           Cte d'Ivoire           Wine
3  1986         Americas               Colombia           Beer
4  1987         Americas  Saint Kitts and Nevis           Beer
5  1987         Americas              Guatemala          Other
6  1987           Africa              Mauritius           Wine
7  1985           Africa                 Angola        Spirits
8  1986         Americas    Antigua and Barbuda        Spirits
9  1984           Africa                Nigeria          Other